#presentacion {  
  background-image: url("https://us.123rf.com/450wm/detshana/detshana1707/detshana170700346/82693400-fondo-negro.jpg"); 
  padding: 35px;
}

#contenido {
  padding: 25px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #EF5350;
  cursor:pointer;
}

.active {
  background-color: #4CAF50;
}

li.footer b {
  color: #EF5350;
}

p {
  color: black;
  padding: 15px;
}

li {
  color: black;
}

body {
  background-image: url("https://images.vexels.com/media/users/3/76625/preview2/0a9ec07890cae65e32fad41107cb648b-fondo-blanco-transparente.jpg");
}

#mov {
  width: 40px;
  height: 40px;
  background-color: #EF5350;
  position:relative;
  animation-name: anima;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anima {
  0%   {background-color:#EF5350; left:500px; top:0px;}
  50%  {background-color:#EF5350; left:800px; top:px;}
  100% {background-color:#EF5350; left:500px; top:0px;}
}

* {
  margin: 0;
  font-size: 21px;
  font-family: 'Patrick Hand', cursive;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: calc(100% - 4rem);
}

.footer {
  height: 4rem;
  background-color: #e2e2e2
}

/*botones de envio de formulario*/
#linkButton {
  background-color: #EEEEEE;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  margin-left: 10px;
  border-radius: 2px;
  
  padding: 6px 18px 6px 18px;
}
.linkC{
  padding: 5px 16px 5px 16px;
}
.linkC:hover, #linkButton:hover{
  background-color: #58D68D ;
  cursor:pointer;
}

/*input -> nombre de archivo*/
#archiveName[type=text] {
  width: 70px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: width 0.4s ease-in-out;
}

#archiveName[type=text]:focus {
  width: 300px;
}

/*textarea*/
#textMarkdown{
  border: 1px dotted black;
}
/*archivos (links)*/
#linkFile {
  background-color: #EEEEEE;
  text-decoration: none;
  border: 1.5px solid black;
  margin-left: 10px;
  border-radius: 6px;
  padding: 6px 18px 6px 18px;
}
#liFile{
  margin-top: 20px;
  margin-bottom: 20px;
}
ul{
  list-style-type: circle;
}
#linkFile:hover{
  background-color: #FFEE58;
  cursor:pointer;
}
