#presentacion {  
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallhere.com%2Fes%2Fwallpaper%2F1407707&psig=AOvVaw2vkIdpzF1VHtgOrkqMDhlf&ust=1620620075987000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjwnrbeu_ACFQAAAAAdAAAAABAP); 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: red;
}

.active {
  background-color: #4CAF50;
}
h1 {
  color: white;
}
